<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>Label</key><string>com.tradingbot.update</string>
<key>ProgramArguments</key>
<array>
<string>/bin/bash</string>
<string>/Users/ckvalentine/coinbase-trading-bot/run_update.sh</string>
</array>
<key>WorkingDirectory</key><string>/Users/ckvalentine/coinbase-trading-bot</string>
<key>StartCalendarInterval</key>
<dict>
<key>Weekday</key><integer>0</integer>
<key>Hour</key><integer>2</integer>
<key>Minute</key><integer>0</integer>
</dict>
<key>StandardOutPath</key><string>/Users/ckvalentine/coinbase-trading-bot/update.log</string>
<key>StandardErrorPath</key><string>/Users/ckvalentine/coinbase-trading-bot/update_error.log</string>
</dict>
</plist>
